.message{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.textOfMesssage{
    
    border-radius: 10px 10px 0 10px;
    border-style: dotted;
    border-color: teal;
    border-width: 1px;
}